In [29]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn as sklearn 
import tensorflow as tf 


np.random.seed(42)
url = 'https://static-content.springer.com/esm/art%3A10.1038%2Fs41467-019-08325-8/MediaObjects/41467_2019_8325_MOESM3_ESM.xls'


ram_data = pd.read_excel(url, sheet_name=1)

Use `type()` to define data structure
Data Structure is a way in which data are stored for efficient search and retrievlal  

Why do you need **Data Structure** ? To organsie workflow 


- Data can be either mutable or immutable --> changeable or non-changeable 
- Money or name important information should not be changeable

In [18]:
ram_data.head()

,Catalyst Nr,Nr of publication,Cation 1,Cation 1 mol%,Cation 2,Cation 2 mol%,Cation 3,Cation 3 mol%,Cation 4,Cation 4 mol%,...,p(CH4)/p(O2),"p total, bar","Contact time, s","X(O2), %","X(CH4), %","S(COx), %","S(C2=), %","S(C2-), %","S(C2), %","Y(C2), %"
0,1,1,Mn,9.2,NaN,NaN,NaN,NaN,NaN,NaN,...,4.761905,1.013,0.04,NaN,11.0,NaN,NaN,NaN,45.500000,5.0050
1,2,1,Cd,4.7,NaN,NaN,NaN,NaN,NaN,NaN,...,4.761905,1.013,0.04,NaN,10.0,NaN,NaN,NaN,40.000000,4.0000
2,3,1,Sn,4.5,NaN,NaN,NaN,NaN,NaN,NaN,...,4.761905,1.013,0.04,NaN,8.4,NaN,NaN,NaN,4.800000,0.4032
3,4,1,Ti,10.4,NaN,NaN,NaN,NaN,NaN,NaN,...,4.761905,1.013,0.04,NaN,6.8,NaN,NaN,NaN,44.099998,2.9988
4,5,1,Pt,2.8,NaN,NaN,NaN,NaN,NaN,NaN,...,4.761905,1.013,0.04,NaN,8.0,NaN,NaN,NaN,1.300000,0.1040

In [ ]:
from sklearn.ensemble import RandomForestRegressor
# boston_data = sklearn.datasets.load_boston() 
# data = pd.DataFrame(boston_data.data,
# columns=boston_data.feature_names)
# target = boston_data.target